<nav class="nav">
  <div class="container nav-container">
    <button
      (click)="navToggle = !navToggle"
      class="nav-toggle"
      aria-label="Toggle menu"
    >
      ☰
    </button>
    <div class="nav-menu" [class.active]="navToggle">
      <a href="#home" class="nav-link">{{ "MENU_ITEMS.HOME" | transloco }}</a>
      <a href="#presentation" class="nav-link">{{
        "MENU_ITEMS.PRESENTATION" | transloco
      }}</a>
      <a href="#about" class="nav-link">{{ "MENU_ITEMS.ABOUT" | transloco }}</a>
      <a href="#program" class="nav-link">{{
        "MENU_ITEMS.SCHEDULE" | transloco
      }}</a>
      <a href="#register" class="nav-link">{{
        "MENU_ITEMS.REGISTER" | transloco
      }}</a>
      <a href="#location" class="nav-link">{{
        "MENU_ITEMS.LOCATION" | transloco
      }}</a>
    </div>

    <div class="flags-container">
      @for(language of languages; track language){
      <span
        class="fi fi-{{ language === 'en' ? 'gb' : language }} flag"
        [class.active]="language === currentLanguage"
        (click)="changeLanguage(language)"
      ></span>
      }
    </div>
  </div>
</nav>

<!-- <div class="side-social-links">
  <a href="https://www.facebook.com/swamiatmanandaudasin" target="_blank">
    <mat-icon class="facebook" svgIcon="facebook" />
  </a>
  <a href="https://www.youtube.com/@swamiatmanandaudasin7306" target="_blank">
    <mat-icon class="youtube" svgIcon="youtube" />
  </a>
  <a href="https://ajatananda.org/support-2/" target="_blank">
    <mat-icon class="yin-yang" svgIcon="yin-yang" />
  </a>
</div> -->

<section id="home" class="hero">
  <div class="hero-overlay"></div>
  <div class="container">
    <div class="main-page">
      <!-- <span class="main-page-container">
        <span class="large-font">{{ "TITLE.LINE_1" | transloco }}</span>
        <span class="small-font">{{ "TITLE.LINE_2" | transloco }}</span>
      </span>
      <span class="main-page-container">
        <span class="small-font">{{ "TITLE.LINE_3" | transloco }}</span>
        <span class="large-font special">{{ "TITLE.LINE_4" | transloco }}</span>
      </span>
      <p class="small-font">{{ "TITLE.TIME" | transloco }}</p> -->
      <a href="#register" class="register-button">{{
        "TITLE.REGISTER_NOW" | transloco
      }}</a>
    </div>
  </div>
</section>

<section id="presentation">
  <div class="program-info">
    <h2>{{ "PRESENTATION.TITLE" | transloco }}</h2>
    <p>
      {{ "PRESENTATION.CONTENT.P1" | transloco }}
    </p>
    <p>
      {{ "PRESENTATION.CONTENT.P2" | transloco }}
    </p>
    <p>
      {{ "PRESENTATION.CONTENT.P3" | transloco }}
    </p>

    <h2>{{ "PRESENTATION.TRANSLATION.TITLE" | transloco }}</h2>
    <p>
      {{ "PRESENTATION.TRANSLATION.DESCRIPTION" | transloco }}
    </p>
  </div>
</section>

<section id="about" class="about">
  <div class="container">
    <h2>{{ "ABOUT.TITLE" | transloco }}</h2>
    <div class="about-content">
      <div>
        <img
          src="assets/img/Atmananda_leafs.png"
          alt="Swami Atmananda"
          class="about-image"
        />
        @if(windowWidth >= 1024){
        <div class="swami-website">
          <br />
          <br />
          <span>{{ "REGISTER.SUPPORT.VISIT_ASHRAM" | transloco }}</span>
          <a
            href="https://ajatananda.org"
            target="_blank"
            rel="noopener noreferrer"
            class="website-link"
          >
            www.ajatananda.org
          </a>
        </div>
        }
      </div>
      <div class="card">
        <p>
          {{ "ABOUT.CONTENT.P1" | transloco }}
        </p>
        <p>
          {{ "ABOUT.CONTENT.P2" | transloco }}
        </p>
        <p>
          {{ "ABOUT.CONTENT.P3" | transloco }}
        </p>
      </div>
      @if(windowWidth < 1024){
      <div class="swami-website">
        <span>{{ "REGISTER.SUPPORT.VISIT_ASHRAM" | transloco }}</span>
        <a
          href="https://ajatananda.org"
          target="_blank"
          rel="noopener noreferrer"
          class="website-link"
        >
          www.ajatananda.org
        </a>
      </div>
      }
    </div>
  </div>
</section>

<section class="video-section">
  <div class="quote">
    <h2>"{{ "QUOTE.TEXT" | transloco }}"</h2>
    <p>{{ "QUOTE.AUTHOR" | transloco }}</p>
  </div>
  <div class="container">
    <div class="carousel">
      @if(showCarouselButtons){
      <button
        (click)="moveToPrevSlide()"
        class="carousel-button prev"
        [disabled]="currentIndex === 0"
      >
        ❮
      </button>
      }
      <div class="carousel-container">
        <div class="carousel-track" #carousel_track>
          <div class="carousel-slide">
            <div class="video-card">
              <iframe
                src="https://www.youtube.com/embed/MH7beFld-mM?si=DlO0W6F03Qd5tOEp"
                title="Grace Is What You Are"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              >
              </iframe>
              <h3>Grace Is What You Are</h3>
            </div>
          </div>
          <div class="carousel-slide">
            <div class="video-card">
              <iframe
                src="https://www.youtube.com/embed/TMFkLb-I0LM?si=_43i1XTKE89LxrRM"
                title="Only Silence Can Hear Silence!"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              >
              </iframe>
              <h3>Only Silence Can Hear Silence!</h3>
            </div>
          </div>
          <div class="carousel-slide">
            <div class="video-card">
              <iframe
                src="https://www.youtube.com/embed/xK-KK6iC6nk?si=-F4KOchTJXFLRR0R"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
              <h3>Can the Wave Surrender to the Ocean?</h3>
            </div>
          </div>
        </div>
      </div>
      @if(showCarouselButtons){
      <button
        (click)="moveToNextSlide()"
        class="carousel-button next"
        [disabled]="currentIndex === (slides?.length ?? 3) - 1"
      >
        ❯
      </button>
      }
    </div>
  </div>
</section>

<section id="program" class="program">
  <div class="container">
    <h2>{{ "SCHEDULE.TITLE" | transloco }}</h2>
    <div class="program-cards">
      <div class="card">
        <h3>{{ "SCHEDULE.FRIDAY.TITLE" | transloco }}</h3>
        <ul>
          <li>{{ "SCHEDULE.FRIDAY.LINE_1" | transloco }}</li>
          <li>{{ "SCHEDULE.FRIDAY.LINE_2" | transloco }}</li>
          <li>{{ "SCHEDULE.FRIDAY.LINE_3" | transloco }}</li>
        </ul>
      </div>
      <div class="card">
        <h3>{{ "SCHEDULE.SATURDAY.TITLE" | transloco }}</h3>
        <ul>
          <li>{{ "SCHEDULE.SATURDAY.LINE_1" | transloco }}</li>
          <li>{{ "SCHEDULE.SATURDAY.LINE_2" | transloco }}</li>
          <li>{{ "SCHEDULE.SATURDAY.LINE_3" | transloco }}</li>
          <li>{{ "SCHEDULE.SATURDAY.LINE_4" | transloco }}</li>
          <li>{{ "SCHEDULE.SATURDAY.LINE_5" | transloco }}</li>
        </ul>
      </div>
      <div class="card">
        <h3>{{ "SCHEDULE.SUNDAY.TITLE" | transloco }}</h3>
        <ul>
          <li>{{ "SCHEDULE.SUNDAY.LINE_1" | transloco }}</li>
          <li>{{ "SCHEDULE.SUNDAY.LINE_2" | transloco }}</li>
          <li>{{ "SCHEDULE.SUNDAY.LINE_3" | transloco }}</li>
          <li>{{ "SCHEDULE.SUNDAY.LINE_4" | transloco }}</li>
          <li>{{ "SCHEDULE.SUNDAY.LINE_5" | transloco }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="register">
  <h2>{{ "REGISTER.SUPPORT.TITLE" | transloco }}</h2>
  <p>
    {{ "REGISTER.SUPPORT.DESCRIPTION" | transloco }}
  </p>
  <h2 id="register">{{ "REGISTER.TITLE" | transloco }}</h2>
  <p>
    {{ "REGISTER.DESCRIPTION" | transloco }}
  </p>
  <p>
    <strong>{{ "REGISTER.AMOUNT" | transloco }}</strong>
  </p>
  <div class="form-container">
    <h2>{{ "REGISTER.FORM.TITLE" | transloco }}</h2>
    <button
      id="open-form"
      class="button"
      [class.open-registration]="toggleRegistrationForm"
      (click)="toggleRegistartion()"
    >
      {{
        toggleRegistrationForm
          ? ("REGISTER.FORM.BUTTON_CLOSE" | transloco)
          : ("REGISTER.FORM.BUTTON_OPEN" | transloco)
      }}
    </button>
    <ng-container *ngIf="isInitializeRegistartionForm">
      @switch (currentLanguage) { @case ('ro') {
      <iframe
        [hidden]="!toggleRegistrationForm"
        #registration_form
        src="https://form.jotform.com/250458895936475"
        title="Registration Form"
      >
      </iframe>
      } @case ('en') {
      <iframe
        [hidden]="!toggleRegistrationForm"
        #registration_form
        src="https://form.jotform.com/250503450416446"
        title="Registration Form"
      >
      </iframe>
      } @case ('fr') {
      <iframe
        [hidden]="!toggleRegistrationForm"
        #registration_form
        src="https://form.jotform.com/250503750252447"
        title="Registration Form"
      >
      </iframe>
      } }
    </ng-container>

    <p class="invitation">
      {{ "REGISTER.FORM.INVITATION" | transloco }}
    </p>
  </div>
</section>

<section id="location" class="map">
  <div class="container">
    <strong class="title">{{ "LOCATION.INFO" | transloco }}</strong>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8804385498006!2d26.094575000000003!3d44.4356147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff37b13c1e7d%3A0xe50c81b8ff22932b!2z4oCdVW5pdmVyc3Vs4oCdIFBhbGFjZQ!5e0!3m2!1sen!2sro!4v1746188204593!5m2!1sen!2sro"
      allowfullscreen
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>

<!-- Footer -->
<footer>
  <div class="footer-conaitner">
    <div class="social-links">
      <a href="https://anandaashramurban.webnode.ro/" target="_blank">
        <mat-icon class="icon" svgIcon="temple-buddhist-outline" />
      </a>
    </div>
    <p class="organizer">{{ "FOOTER.ORGANIZER_1" | transloco }}</p>
    <p class="organizer">{{ "FOOTER.ORGANIZER_2" | transloco }}</p>
    <br />
    <ul class="organizer">
      <li>
        <i class="fas fa-phone"></i><a href="tel:+40728388894"></a> +40728388894
      </li>
      <li>
        <i class="fas fa-envelope"></i
        ><a href="mailto:sat.chit.ananda.ashram.urban@gmail.com">{{
          " sat.chit.ananda.ashram.urban@gmail.com"
        }}</a>
      </li>
      <li>
        <i class="fas fa-map-marker-alt"></i> Universitate, Bd. Regina
        Elisabeta, nr.25, Bucuresti
      </li>
    </ul>
    <p class="copyright">{{ "FOOTER.COPYRIGHT" | transloco }}</p>
  </div>
</footer>
